body{
  color: #ffffff;
}

.Hangman{

  .hangman-state{
    width: 900px;
    margin: auto;
  }

  .letters {
    border: none;
    font-family: inherit;
    font-size: 28px;
    width: 50px;
    margin: 20px 10px 10px 20px;
    background: #07ffc9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 15px;
  }

  .Hangman-reset{
    width :100px;
    border: none;
    font-size: 28px;
    margin: 20px 10px 10px 20px;
    background: #07ffc9;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 15px;
  }
}
